<ion-header>
  <ion-toolbar>
    <ion-title>Vedjiz - Mon profil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Prénom : {{data.user.firstname}}</ion-label>
      <ion-label>Nom : {{data.user.lastname}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Crédit : {{ data.balance.credit }}</ion-label>
      <ion-label>Débit : {{ data.balance.debit }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-button color="danger" slot="end" expand="block" fill="outline" (click)="logout()">Se déconnecter</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
