<ion-header>
  <ion-toolbar>
    <ion-title>Panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>


  <ion-item>
    <ion-label>Légumes</ion-label>
    <ion-select [(ngModel)]="selection" okText="Ok" cancelText="Annuler">
      <ion-item *ngFor="let data of listOfVegs">
        <ion-select-option value={{data.id}}>{{data.name}}</ion-select-option> 
      </ion-item>
    </ion-select>
    <ion-item><ion-button expand="block" fill="outline" (click)="addVegetableToBasket(selection)">Ajouter</ion-button></ion-item>
  </ion-item>

 

</ion-list>

  <div class="container">
    <div *ngFor="let veg of basket" id="veg{{veg}}">
        <ion-card>
          <ion-item>
            <ion-avatar slot="start">
              <img src="http://localhost:8000/storage/pictures/{{veg.picture}}" alt="{{veg.name}}" height='30' width='30'>
            </ion-avatar>
            <ion-label>
              <p>{{veg.name}}</p>
              <p>{{veg.price}}.- /{{veg.unit}}</p>
              
            </ion-label>
            <ion-button color="danger" size="small" (click)="removeVegFromList(veg)" >-</ion-button>
          </ion-item>
          <ion-item>
            <ion-label><p>Quantité </p></ion-label>
            <ng-container *ngFor="let buttonVeg of countButtonList" >
              <ion-button *ngIf="buttonVeg.name == veg.name" (click)="decreaseProductCount(buttonVeg)"  size="small" color="dark" class="mewbtn11">
                -
              </ion-button>
              
                <ion-button *ngIf="buttonVeg.name == veg.name"   size="small"  color="dark" class="mewbtn11">
                  {{buttonVeg.count}}
                </ion-button>
             
              <ion-button *ngIf="buttonVeg.name == veg.name" (click)="incrementProductCount(buttonVeg)"   size="small" color="dark" class="mewbtn11">
                +
              </ion-button>
            </ng-container>
          </ion-item>  
      </ion-card>
    </div>
    <ion-card>
      <ion-item>
        <ion-label>Prix total: {{totalprice}} CHF</ion-label> 
      </ion-item>
    </ion-card>
  </div>
  
  <section *ngIf="basket?.length > 0 ">
    <ion-item>
      <ion-button slot="end" text-cemter size="small" color="danger" (click)="removeAllVegsFromList()">Vider le panier</ion-button>
    </ion-item>
    <ion-button color="success" expand="block">Payer</ion-button>
  </section>

</ion-content>
