<ion-header>
  <ion-toolbar>
    <ion-title>Panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-list-header>
    <ion-label text-center>
      Légumes
    </ion-label>
  </ion-list-header>



  <ion-item>
    <ion-label>Légumes</ion-label>
    <ion-select [(ngModel)]="selection" okText="Ok" cancelText="Annuler">
      <ion-item *ngFor="let data of data.stock">
        <ion-select-option value={{data.id}}>{{data.name}}</ion-select-option> 
      </ion-item>
    </ion-select>
    <ion-item><ion-button expand="block" fill="outline" (click)="addVegetableToBasket(selection)">Ajouter</ion-button></ion-item>
  </ion-item>

 

</ion-list>

<div class="container">
  <div *ngFor="let div of divs" id="div{{div}}">{{ vegFound.name }}</div>
</div>
</ion-content>
