<ion-header>
  <ion-toolbar>
    <ion-title>Panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>


  <ion-item>
    <ion-label>Légumes</ion-label>
    <ion-select [(ngModel)]="selection" okText="Ok" cancelText="Annuler">
      <ion-item *ngFor="let data of listOfVegs">
        <ion-select-option value={{data.id}}>{{data.name}}</ion-select-option> 
      </ion-item>
    </ion-select>
    <ion-item><ion-button expand="block" fill="outline" (click)="addVegetableToBasket(selection)">Ajouter</ion-button></ion-item>
  </ion-item>

 

</ion-list>

  <div class="container">
    <div *ngFor="let div of divs" id="div{{div}}">
    
        <ion-card>
          <ion-item>
            <ion-avatar slot="start">
              <img src="http://localhost:8000/storage/pictures/{{div.picture}}" alt="{{div.name}}" height='30' width='30'>
            </ion-avatar>
            <ion-label>
              <p>{{div.name}}</p>
            </ion-label>
            <ion-button color="danger" size="small" (click)="removeVegFromList(div)" >-</ion-button>
          </ion-item>
          <ion-item slots="end">
            <ion-label><p>Quantité </p></ion-label>
            <ion-input type="number" value="1" min=1 max="{{div.stock}}"></ion-input>
          </ion-item>
        </ion-card>
  
    </div>
  </div>

  <section *ngIf="divs?.length > 0 ">
    <ion-item>
      <ion-button slot="end" text-cemter size="small" color="danger" (click)="removeAllVegsFromList()">Vider le panier</ion-button>
    </ion-item>
    <ion-button color="success" expand="block">Payer</ion-button>
  </section>

</ion-content>
