<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  
<img src="http://localhost:8000/storage/pictures/{{data.picture}}" alt="{{data.name}}"  width="375" height="270">
<p><b>{{ data.name }}</b></p>

<p>{{ data.details }}</p>


<p> Ces magnifiques légumes sont vendus : </p>
<p>{{ data.price }} CHF / {{ data.unit }}</p>
<br>
<p>Les fournisseurs pour ce produit sont : </p>
<p *ngFor="let supplier of data.suppliers"> - {{ supplier.company_name }}<p>
<br>
<p><em>Dernière mise à jour le : {{ data.updated_at | date : "dd.MM.y"}}</em ></p>
</ion-content>
